<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>


	<connectionStrings>
		<add name="MyDataConnection" connectionString="Data Source=USER\MSSQLSERVER01;Initial Catalog=QLSV;User ID=sa;Password=101204" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>